@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FEF1EC;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Custom Global Styles */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Inherit box-sizing */
}


body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/fonts/HvDTrial_BrandonGrotesque-Regular.woff2') format('woff2'),
        url('/fonts/HvDTrial_BrandonGrotesque-Regular.woff') format('woff');
    font-weight: 400;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/fonts/HvDTrial_BrandonGrotesque-Black.woff2') format('woff2'),
        url('/fonts/HvDTrial_BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    /* Black weight */
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/fonts/HvDTrial_BrandonGrotesque-Bold.woff2') format('woff2'),
        url('/fonts/HvDTrial_BrandonGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/fonts/HvDTrial_BrandonGrotesque-Medium.woff2') format('woff2'),
        url('/fonts/HvDTrial_BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/fonts/Calibri.woff2') format('woff2'),
        /* Modern browsers */
        url('/fonts/Calibri.woff') format('woff');
    /* Older browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/fonts/Calibri-Bold.woff2') format('woff2'),
        url('/fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}